/* App.css */

body {
    margin: 0;
    background-color: #000000;
    font-family: 'Orbitron', sans-serif; /* Use Orbitron or another techy font */
    color: #ffffff;
  }
  
  a {
    text-decoration: none;
    color: #00f0ff;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }
  
  a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #00f0ff;
  }
  
  /* .page {
    background-color: #000000;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px #00f0ff55;
    max-width: 800px;
    margin: 2rem auto;
  }
   */